   @font-face {
       font-family: font-strong;
       src: url("../font/Poppins-Bold.ttf");
   }
   
   @font-face {
       font-family: font-md;
       src: url("../font/Poppins-Regular.ttf");
   }
   
   .font-bold {
       font-family: font-strong, system-ui;
   }
   
   .font-Regular {
       font-family: font-md, system-ui;
   }
   /*header image*/
   
   .page-header {
       padding: 0;
       position: relative;
       overflow: hidden;
       display: flex;
       align-items: center;
       background-size: cover;
       background-position: 50%;
   }
   
   .page-wave {
       padding: 0;
       position: absolute;
       overflow: hidden;
       display: flex;
       align-items: center;
       background-size: cover;
       background-position: 50%;
       top: 85%;
       background-repeat: no-repeat;
       width: 100%;
       height: 20%
   }
   
   .min-vh-75 {
       min-height: 75vh!important;
   }
   /*header image*/
   /*navbar lg block*/
   
   @media(min-width:1200px) {
       .nav-size {
           max-width: 1300px;
       }
   }
   /*navbar lg block*/
   /*start navbar dropdown align*/
   
   .dropdown:hover>.dropdown-menu {
       display: block;
   }
   
   @media (max-width:1000px) {
       .navbar .navbar-nav {
           display: inline-block;
           float: none;
           vertical-align: top;
       }
       .navbar .navbar-collapse {
           text-align: center;
       }
   }
   /*end navbar dropdown align*/
   /*start wave*/
   
   .wave {
       animation: wave 8s linear infinite;
   }
   
   .wave1 {
       animation: wave1 10s linear infinite;
   }
   
   .wave2 {
       animation: wave2 12s linear infinite;
   }
   
   @keyframes wave {
       0% {
           transform: translateX(0%);
       }
       100% {
           transform: translateX(100%);
       }
   }
   
   @keyframes wave1 {
       0% {
           transform: scaleY(1.2) translateX(0%);
       }
       100% {
           transform: scaleY(1.2) translateX(100%);
       }
   }
   
   @keyframes wave2 {
       0% {
           transform: scaleY(.8) translateX(0%);
       }
       100% {
           transform: scaleY(.8) translateX(100%);
       }
   }
   
   @keyframes move_wave {
       0% {
           transform: translateX(0) translateZ(0) scaleY(1)
       }
       50% {
           transform: translateX(-25%) translateZ(0) scaleY(0.55)
       }
       100% {
           transform: translateX(-50%) translateZ(0) scaleY(1)
       }
   }
   
   .waveWrapper {
       overflow: hidden;
       position: absolute;
       left: 0;
       right: 0;
       bottom: 0;
       top: 0;
       margin: auto;
   }
   
   .waveWrapperInner {
       position: absolute;
       width: 100%;
       overflow: hidden;
       height: 100%;
       bottom: -1px;
   }
   
   .bgTop {
       z-index: 15;
       opacity: 0.5;
   }
   
   .bgMiddle {
       z-index: 10;
       opacity: 0.75;
   }
   
   .bgBottom {
       z-index: 5;
   }
   
   .wave {
       position: absolute;
       left: 0;
       width: 200%;
       height: 100%;
       background-repeat: repeat no-repeat;
       background-position: 0 bottom;
       transform-origin: center bottom;
   }
   
   .waveTop {
       background-size: 50% 100px;
   }
   
   .waveAnimation .waveTop {
       animation: move-wave 3s;
       -webkit-animation: move-wave 3s;
       -webkit-animation-delay: 1s;
       animation-delay: 1s;
   }
   
   .waveMiddle {
       background-size: 50% 120px;
   }
   
   .waveAnimation .waveMiddle {
       animation: move_wave 10s linear infinite;
   }
   
   .waveBottom {
       background-size: 50% 100px;
   }
   
   .waveAnimation .waveBottom {
       animation: move_wave 15s linear infinite;
   }
   /*end wave*/
   /*start position card*/
   
   .p-card {
       position: relative;
       right: 12.5%;
   }
   /*end position card*/
   /*start position wave*/
   
   .place {
       position: absolute;
       top: 50%;
       bottom: 0;
       right: 0;
       left: 0;
       margin: auto auto;
       width: auto;
       height: auto;
       max-width: 100%;
       max-height: 100%;
   }
   
   .rotate {
       transform: rotate(180deg);
       -webkit-transform: rotate(180deg);
       -moz-transform: rotate(180deg);
       -o-transform: rotate(180deg);
       -ms-transform: rotate(180deg);
   }
   /*end position wave*/
   /*start icon card*/
   
   .icon {
       margin: auto;
       width: 50px;
       height: 50px;
   }
   /*end icon card*/
   /*start footer*/
   /*start box */
   
   i {
       position: relative;
       display: block;
       width: 500px;
       max-width: 73%;
       height: 300px;
       overflow: hidden;
       border-radius: 5px;
   }
   
   i:before,
   i:after {
       content: '⥪';
       position: absolute;
       top: 50%;
       left: 1rem;
       z-index: 2;
       width: 2rem;
       height: 2rem;
       background: dodgerblue;
       color: white;
       border-radius: 50%;
       display: flex;
       justify-content: center;
       align-items: center;
       pointer-events: none;
   }
   
   i:after {
       content: '⥭';
       left: auto;
       right: 1rem;
   }
   /* I haven't found a way for IE and Edge to let me style inputs that way */
   
   input {
       appearance: none;
       -ms-appearance: none;
       -webkit-appearance: none;
       display: block;
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       left: 0;
       border-radius: 5px;
       background-repeat: no-repeat;
       background-size: cover;
       background-position: center;
       transform: translateX(100%);
       transition: transform ease-in-out 400ms;
       z-index: 1;
   }
   
   input:focus {
       outline: none;
   }
   
   input:after {
       content: attr(title);
       position: absolute;
       top: 1rem;
       left: 1rem;
       background-color: rgba(0, 0, 0, 0.4);
       color: white;
       padding: .5rem;
       font-size: 1rem;
       border-radius: 5px;
   }
   
   input:not(checked):before {
       content: '';
       position: absolute;
       width: 2rem;
       height: 2rem;
       border-radius: 50%;
       top: 50%;
       left: calc(-100% + 1rem);
   }
   
   input:checked:before {
       display: none;
       left: 1rem;
   }
   
   input:checked {
       transform: translateX(0);
       z-index: 0;
       box-shadow: -5px 10px 20px -15px rgba(0, 0, 0, 1);
   }
   
   input:checked+input:before {
       left: -3rem;
   }
   
   input:checked+input~input:before {
       display: none;
   }
   /*end box */
   /*start footer*/
   
   .shadow-top {
       background-color: #e9ecef;
       box-shadow: 0 -0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
   }
   
   .f-icon {
       width: 20px;
       height: 20px;
   }
   /*end footer*/